<div class="filter-property" title="{{freq}}">
	<input type="text" class="gain" value="0" data-slider-min="-{{maxGain}}" data-slider-max="{{maxGain}}" data-slider-step="1" data-slider-value="0" data-slider-orientation="vertical" data-slider-selection="after" data-slider-tooltip="hide">
</div>
