html,
body
{
	height: 100%;
}

body
{
	background: url('../images/bg-transparent.png');
}


.player {
	padding: 30px;
}

#audio, #canvas {
	display: block;
	margin: 0 auto;
	position: relative;
	left: -180px;
}

#audio {
	width: 500px;
}

#tools {
	padding: 0 60px;
}

/**
 * Сайдбар для управления приложением
 */
.gui
{
	position: fixed;
	top: 0;
	right: 0;
	z-index: 10;
	width: 365px;
	margin: 30px;
	height: calc(100% - 60px);
	background: url('../images/UWC-small.png') center 98% no-repeat rgba(255, 255, 255, 0.7);
}

.gui-with-filters
{
	opacity: .3;
	-webkit-transition: opacity .6s 3s ease;
	-moz-transition: opacity .6s 3s ease;
	-o-transition: opacity .6s 3s ease;
	transition: opacity .6s 3s ease;
}

.gui:hover
{
	opacity: 1;
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition-delay: 0s;
}

.gui > .row
{
	margin: 10px 0;
}

.gui h1
{
	font-size: 27px;
	text-align: center;
	margin: 0;
}

/**
 * DND загрузка файлов
 */
.gui-dropzone
{
	display: none;
	background: #fff;
	border: 3px dashed #3276B1;
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
}

.gui-dropzone h3
{
	position: absolute;
	top: 40%;
	width: 100%;
	text-align: center;
}

.gui-dnd .gui-dropzone
{
	display: block;
}

.hover .gui-dropzone
{
	border-color: #ff5954;
}

.hover .gui-dropzone h3
{
	font-size: 26px;
}

/**
 * Индикатор работы фильтра
 */
#loader {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

/**
 * show/hide инструментов в зависимости от того выбрано ли изображение для обработки
 */
.row-tools
{
	-webkit-transition: .6s;
	-moz-transition:  .6s;
	-o-transition:  .6s;
	transition:  .6s;
}

.gui-no-image .row-tools
{
	height: 0px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.filter-property
{
	display: inline-block;
	float: left;
}