<div class="well well-sm testing">
  <button class="btn btn-default btn-xs" data-src="demos/Rammstein - Wo bist du.ogg">Play Demo</button>
  <a class="btn btn-danger btn-xs" href="tests.html" target="_blank">Go to Tests</a>
  &nbsp;<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
</div>